


/* modal */

.modal{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  height: 80%;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  overflow: auto;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color:#e7e9fc;
  border:1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.modal-close-svg{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus{
  background-color: #404bbf;
  fill: #fff;
  border: none
}


.modal-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}


.modal-form-item{
  margin-bottom: 8px;
}

.modal-form-label{
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  line-height: 1.17;
}

.modal-form-input-block{
  position: relative;
}

.modal-form-input-block >.modal-form-svg{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus ~ .modal-form-svg{
  fill:#4d5ae5 ;
}

.modal-form-input{
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  color: #2e2f42;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus{
  border-color: #4d5ae5;
  outline: none;
}

.modal-form-comment-block{
  margin-bottom: 16px;
}

.modal-form-texarea{
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  resize: none;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-texarea:focus{
  border-color: #4d5ae5;
  outline: none;

}

.modal-form-texarea::placeholder{
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-checkbox-block{
  margin-bottom: 24px;
}

.modal-form-checkbox-input:checked ~ .modal-form-checkbox-label .modal-form-custom-checkbox{
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-form-checkbox-label{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
}

.modal-form-custom-checkbox{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-privacy{
  line-height: 1.33;
  text-decoration: underline;
  color: #4d5ae5;
  
}

.modal-form-btn-submit{
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px; 
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: block;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn-submit:hover,
.modal-form-btn-submit:focus{
  background-color: #404bbf;
}